* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  /* background: center/contain no-repeat url("./img/westside-img.png"); */
  background-color: rgba(0, 0, 0, 0.9);
}
nav {
  position: sticky;
  top: 0;
  height: 10vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 9;
  border: 0.1rem solid black;
  border-radius: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: gray;
}
.scrolled {
  background-color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

section {
  /* position: absolute; */
  top: 0;
  height: 90vh;
  width: 100vw;
  display: grid;
  /* background-color: red; */
  grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
  /* grid-template-columns: 3fr 1fr; */
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 8fr) minmax(
      0,
      2fr
    );
  gap: 1rem;
}
section div {
  border: 0.1rem solid black;
  border-radius: 50px;
}
section div:nth-child(odd) {
  background-color: rgba(0, 1, 4, 0.8);
}
section div:nth-child(even) {
  background-color: rgba(21, 45, 199, 0.3);
}
.top {
  grid-column: span 2;
  grid-row: 1;
  height: 100%;
  width: 100%;
}
.top-paragraph-left {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 100%;
}
.top-paragraph-right {
  grid-row: 2;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart {
  grid-column: span 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.chart span {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-radius: 50px;
}
.chart span:first-child {
  border: 0.1rem solid black;
}
.chart span:last-child {
  border: 0.1rem solid black;
}
.chart span:not(:first-child, :last-child) {
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
}
.bottom-paragrpah {
  grid-column: span 2;
  grid-row: 4;
  height: 100%;
  width: 100%;
}
