* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*  MASTER CSS CLASSESS */
.centering-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-white {
  color: #d0d6e1;
}

/*  MASTER CSS CLASSESS */

body {
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
  width: 100%;
}
.first {
  height: 100%;
  width: 100%;
  /* background-color: green; */
}
.main-main-wrapper {
  background-color: #070e19;
  height: 100%;
  width: 100%;
  display: flex;
}
.main-wrapper-closed {
  background-color: #070e19;
  height: 100%;
  width: 100%;
  display: flex;
}
.main-wrapper-open {
  height: 100%;
  width: 80%;
}
.nav-closed {
  height: 100%;
  width: 5%;
  background-color: #0d1427;
  margin-right: 1rem;
}
.nav-open {
  height: 100%;
  width: 20%;
  background-color: #0d1427;
  margin-right: 1rem;
}
.main-page-wrapper {
  /* background-color: #070e19; */
  padding: 0 0 1% 0;
  height: 100%;
  width: 97%;
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(0, 5fr) minmax(0, 5fr) minmax(0, 1fr) minmax(
      0,
      4fr
    );
  grid-template-rows: minmax(0, 2fr) minmax(0, 6fr) minmax(0, 12fr) minmax(
      0,
      1fr
    );
}
.main-page-top {
  /* background-color: orange; */
  /* background-color: #0d1427; */
  height: 100%;
  width: 100%;
  padding: 1rem;
  grid-column: 1/5;
  grid-row: 1;
  color: #d0d6e1;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.main-page-middle-top-left {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #0d1427;
  grid-row: 2;
  grid-column: 1;
  border: 0.1rem solid #121b34;
}
.main-page-middle-top-middle {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #0d1427;
  grid-row: 2;
  grid-column: 2;
  border: 0.1rem solid #121b34;
}
.main-page-middle-top-right {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #0d1427;
  grid-row: 2;
  grid-column: 3/5;
  border: 0.1rem solid #121b34;
}
.main-page-middle-bottom-left {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #0d1427;
  grid-row: 3;
  grid-column: 1/4;
  border: 0.1rem solid #121b34;
}
.main-page-middle-bottom-right {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #0d1427;
  grid-row: 3;
  grid-column: 4;
  border: 0.1rem solid #121b34;
}
.main-page-bottom {
  height: 100%;
  width: 100%;
  /* background-color: #0d1427; */
  grid-column: 1/5;
  grid-row: 4;
}
.main-page-three-top {
  height: 20%;
  width: 100%;
  /* background-color: red; */
  align-items: start;
}
.main-page-three-bottom {
  height: 80%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
}
.main-page-three-master > span {
  /* background-color: green; */
  height: 100%;
  width: 20%;
}

.main-page-three-master > span:nth-child(even) {
  /* background-color: white; */
  height: 100%;
  width: 80%;
  border: 0.1rem solid #121b34;
}

/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR  NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#navbar.nav-closed button {
  background-color: rgba(13, 20, 39, 0);
  color: white;
  border: none;
  height: 10%;
  width: 100%;
}

#navbar > button > svg {
  height: 100%;
  width: 100%;
  color: white;
  cursor: pointer;
}
#navbar ul {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: column;
  justify-content: center;
  align-items: center;
}

#navbar ul li {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: column;
  justify-content: center;
  align-items: center;
}
#navbar svg {
  width: 100%;
  height: 95%;
}
#navbar.nav-open button {
  background-color: rgba(13, 20, 39, 0);
  color: white;
  border: none;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar.nav-open ul {
  height: 90%;
  width: 95%;
}
#navbar.nav-open ul li {
  height: 14%;
  width: 100%;
}
#navbar.nav-open ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar.nav-open ul li a svg {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar.nav-open ul li a span {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes pulse {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.nav-closed-button {
  animation: pulse 2s infinite;
}

/* MEDIA SCREENS MEDIA SCREENS MEDIA SCREENS MEDIA SCREENS MEDIA SCREENS MEDIA SCREENS MEDIA SCREENS MEDIA SCREENS MEDIA SCREENS MEDIA SCREENS  */
@media screen and (max-width: 1000px) {
  body {
    height: 200vh;
    width: 100vw;
  }
  .main-page-wrapper {
    /* background-color: #070e19; */
    padding: 0 2% 1% 0;
    height: 100%;
    width: 95%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows:
      minmax(0, 3fr) minmax(0, 5fr) minmax(0, 5fr) minmax(0, 5fr)
      minmax(0, 10fr) minmax(0, 1fr);
  }
  .main-page-top {
    grid-row: 1;
    grid-column: 1/3;
    font-size: 0.8rem;
  }
  .main-page-middle-top-left {
    grid-row: 2;
    grid-column: 1;
    border: 0.1rem solid #121b34;
    padding: 0.5rem;
  }
  .main-page-middle-top-middle {
    grid-row: 4;
    grid-column: 1/3;
    border: 0.1rem solid #121b34;
    padding: 0.5rem;
  }
  .main-page-middle-top-right {
    grid-row: 3;
    grid-column: 1;
    border: 0.1rem solid #121b34;
    padding: 0.5rem;
  }
  .main-page-middle-bottom-left {
    grid-row: 5;
    grid-column: 1/3;
    border: 0.1rem solid #121b34;
    padding: 0.5rem;
  }
  .main-page-middle-bottom-right {
    grid-row: 2/4;
    grid-column: 2;
    border: 0.1rem solid #121b34;
    padding: 0.5rem;
  }
  .main-page-bottom {
    grid-column: 1/3;
    grid-row: 6;
  }
}
@media screen and (max-width: 600px) {
  body {
    height: 250vh;
    width: 100vw;
  }
  #root {
    height: 100%;
    width: 100%;
  }
  .first {
    height: 100%;
    width: 100%;
    /* background-color: green; */
  }
  .main-main-wrapper {
    background-color: #070e19;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    height: 4%;
    width: 100%;
    background-color: #0d1427;
    margin-right: 1rem;
  }
  .main-page-wrapper {
    /* background-color: #070e19; */
    box-sizing: border-box;
    padding: 0 5% 0% 5%;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows:
      minmax(0, 1fr) minmax(0, 5fr) minmax(0, 5fr) minmax(0, 5fr)
      minmax(0, 6fr) minmax(0, 10fr) minmax(0, 0.1fr);
  }
  .main-page-top {
    grid-row: 1;
    font-size: 0.8rem;
    grid-column: 1;
    padding: 0rem;
    padding-top: 1rem;
  }
  .main-page-middle-top-left {
    grid-row: 2;
    border: 0.1rem solid #121b34;
    padding: 0.5rem;
    grid-column: 1;
  }
  .main-page-middle-top-middle {
    grid-row: 3;
    border: 0.1rem solid #121b34;
    padding: 0.5rem;
    grid-column: 1;
  }
  .main-page-middle-top-right {
    grid-row: 4;
    border: 0.1rem solid #121b34;
    padding: 0.5rem;
    grid-column: 1;
  }
  .main-page-middle-bottom-left {
    grid-row: 6;
    border: 0.1rem solid #121b34;
    padding: 0.5rem;
    grid-column: 1;
  }
  .main-page-middle-bottom-right {
    grid-row: 5;
    border: 0.1rem solid #121b34;
    padding: 0.5rem;
    grid-column: 1;
  }
  .main-page-bottom {
    grid-row: 7;
    grid-column: 1;
  }
  .main-page-three-top {
    height: 10%;
    width: 100%;
    align-items: start;
    font-size: 0.8rem;
  }
  .main-page-three-bottom {
    height: 90%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
  .main-page-three-master > span {
    /* background-color: green; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-page-three-master > span:nth-child(even) {
    /* background-color: white; */
    height: 100%;
    width: 100%;
    border: 0.1rem solid #121b34;
  }
  .sticky {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
  }
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #navbar button {
    color: white;
    border: none;
    height: 100%;
    width: 15%;
  }
  #navbar ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #navbar ul li {
    height: 50%;
    width: auto;
    display: flex;
    justify-content: column;
    justify-content: center;
    align-items: center;
  }
  #navbar ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: column;
    justify-content: center;
    align-items: center;
  }
  #navbar > button > svg {
    height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
  }

  #navbar svg {
    width: 100%;
    height: 100%;
  }
}
